#########################
# Eclipse Ignore
#########################
.metadata/
.settings/
bin/
tmp/
*.tmp
*.bak
*.swp
*.swo
rebuild_state
.loadpath

# Prevent workspace from getting into Git
eclipse-workspace-rest/
*/.metadata/
*/.plugins/
*/org.eclipse.*

#########################
# Java / Maven
#########################
target/
*.class
*.jar
*.log

#########################
# Test outputs
#########################
test-output/
surefire-reports/
reports/
allure-results/
allure-report/

#########################
# IDE ignores
#########################
.idea/
.vscode/
*.iml

#########################
# OS files
#########################
.DS_Store
Thumbs.db
